/* Define variables. */
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy:ital@0;1&display=swap');

$font-stack-base: 'Alegreya', serif;
$font-stack-secondary: 'Metamorphous', serif;

/* Define user styles. */
body {
  font-family: $font-stack-base;
  font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6,
nav,
.site-name,
.sidebar {
  font-family: $font-stack-secondary;
}

// Hide the top menu on mobile.
.sidebar {
  .navbar-items {
    display: none;

    .no-sidebar & {
      display: block;
    }
  }
}